#content {
    background-color: #737373;
    text-align: center;
}

#icons {
    width: 1600px;
    text-align: center;
}

.header-img {
    width: 100%;
}

.icon {
    border-radius: 50%;
    border: 10px solid #444444;
    width: 15%;
    margin: 0 60px;
}